/* Billboard Container */
.billboard-container {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 20px auto;
    position: relative;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Link and Image */
.billboard-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.billboard-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* इमेजलाई तन्किन नदिई फिट गर्छ */
    }

/* Adnp Label Style */
.billboard-adnp {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff !important;
    font-size: 12px;
    padding: 2px 8px;
    text-decoration: none;
    font-family: sans-serif;
    z-index: 10;
    border-top-left-radius: 4px;
}

/* Mobile Responsibility */
@media (max-width: 1200px) {
    .billboard-container {
        height: auto; /* मोबाइलमा इमेजको अनुपात मिल्ने बनाउन */
        aspect-ratio: 12 / 1; 
    }
}
